@import "./../../assets/styles/variables.scss";

.signup {
  width: 60%;
  background-color: white;
  color: black;
  margin: 2rem auto;
  padding: 1rem;
  -webkit-box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.77);
  box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid $LightestGray;
  border-radius: 10px;
}
