.posts-div {
  margin: 2rem;
  text-align: center;
}
.posts-container {
  padding: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 10px 10px 0 0;
  height: 300px;
  .card-image {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
  }
}
